body {
    height: 100vh;
}

.BackgroundBody {
    background: linear-gradient(135deg, #0f7c3ba9, #9b7a1e81, #fc6b0378);

    margin: 0 !important;
    padding: 0 !important;
}

p {
    margin-bottom: 0 !important;
}

.h-20px {
    height: 20px;
}

.h-100vh {
    height: 100vh;
}

.teamMembersImageHover {
    transition: all 1s ease-in-out;
}

.teamMembersImageHover:hover {
    box-shadow: 0px -100px 100px 0px rgba(0, 0, 0, 0.4) inset !important;
}

.teamMembersImageHover:hover .teamMembersText {
    visibility: visible;
}

.teamMembersText {
    visibility: hidden;
}
        body {
            background: #1f2e35;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
        }

        h1 {
            text-align: center;
            color: #8bd22c;
        }

        table {
            text-align: center;
                margin-bottom: 0 !important;

        }

        th,
        td {
            border: 1px solid #9aa5a8 !important;
            padding: 7px !important;
        }

        th {
            background-color: #243942 !important;
        }

        .left {
            text-align: left;
            padding-left: 7px !important;
        }

        .highlight {
            font-size: 20px;
            font-weight: bold;
        }

        .red {
            color: red;
            font-weight: bold;
            font-size: 18px;
        }


/*         
ul {
    list-style: none;
    padding: 0;
} */

li {
    position: relative;
    padding-left: 2em;
    margin-bottom: 0.5em;
}

li::before {
    content: '';
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    transform: translateY(-50%);
    width: 0.7em;
    height: 0.9em;
    border-radius: 0;
    border: 1px solid #ef711d;
    background-color: #fff;
    display: inline-block;
}

.mckNavbar a {
    text-decoration: none;
}

.mckNavbar a img {
    display: block;
}


.offcanvas .offcanvas-body ul {
    list-style: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

.offcanvas .offcanvas-body ul li {
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.offcanvas .offcanvas-body .nav-link {
    padding-left: 0 !important;
}

.offcanvas .offcanvas-body .nav-link:focus,
.offcanvas .offcanvas-body .nav-link:active {
    outline: none !important;
    box-shadow: none !important;
}

.offcanvas .offcanvas-body li::before {
    content: none !important;
}

.navPageList {
    margin-right: 100px;
}

.offcanvas .nav-link {
    color: black !important;
}

.offcanvas .nav-link:hover {
    color: #ff6600 !important;
}

.mckNavbar {
    height: 83px;
    background: white;
}

.h-30px {
    height: 30px;
}

.center-elements {
    justify-content: center;
    align-items: center;
    display: flex;
}

.serif {
    font-family: "Times New Roman", Times, serif !important;
}

video {
    box-shadow: none !important;
}

.w-60 {
    width: 60% !important;
}

.w-90 {
    width: 90%;
}

.h-90 {
    height: 90% !important;
}

.h-200px {
    height: 200px;
}

.h-15px {
    height: 15px;
}

.linkOnHover {
    color: black;
    text-decoration: none;
}

.linkOnHover:hover {
    color: #ef711d;
}

.boldHr {
    height: 1px !important;
    background-color: black;
}

.navDropdownText {
    font-size: 14.5px;
    font-weight: 350;
    text-decoration: none !important;
    color: black !important;
}

.navDropdownDiv:hover {
    color: #ef711d !important;
    box-shadow: 0 3px 0 0 #ef711d;
}

.navDropdownText.active {
    color: #ef711d !important;
}

.navDropdownDiv.active {
    border-bottom: 3px solid #ef711d;
}

.navDropdownDiv {
    box-shadow: 0 3px 0 0 transparent;
    cursor: pointer;

}

.navDropdownDiv a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.navDropdownDiv {
    cursor: pointer;
}

.orangeText {
    color: #4b2b01;
}

#collapseLinkDiv:active .transforArrow {
    transform: rotateX(180deg);
}

.navDropdownDiv:hover .dropdownArrow {
    transform: rotateX(180deg);
}

.linkTextDecorationOnHover:hover {
    color: #ef711d;
    text-decoration: underline !important;
}

.linkTextDecorationOnHover {
    text-decoration: none !important;
    color: black;
}

.h-100px {
    height: 100px;
}

@keyframes slideLeftToRight {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.slide-right {
    animation: slideLeftToRight 0.6s ease forwards;
}


.dropdownMenu {
    opacity: 0;
    visibility: hidden;
    transform: translateY(8px);
    transition: all 0.25s ease;
}

/* Remove slide movement */
.offcanvas-top {
    transform: none !important;
    opacity: 0;
}

.offcanvas-top.show {
    opacity: 1;
}

/* .offcanvas {
    transition: opacity 0.4s ease !important;
} */
.btn-cursor {
    cursor: pointer !important;
}
.text-orange{
    color: #ef711d;
}
.fs-40 {
    font-size: 45px;
    line-height: 1.1;
    font-weight: 550;
}

.arrowDiv {
    height: 75px !important;
    width: 75px !important;
    border-radius: 75px;
    background: #727a895b;
    transition: all 0.5s ease-in-out;
}

.arrowDiv:hover {
    background: #0f7c3b;
    margin-bottom: 10px !important;
}

.greenText {
    color: #0f7c3b;
}

.imageFit {
    background-repeat: no-repeat;
    background-size: cover;
}

.h-85px {
    height: 85px;
}

.musicApps {
    height: 35px;
    width: 35px !important;
    background-color: black;
    border-radius: 35px;
}

.musicApps:hover {
    background-color: #ef711d;
    margin-bottom: 2px !important;
    box-shadow: 1px 0px 6px grey;
}

.h-450px {
    height: 450px;
}

.h-650px {
    height: 650px;
}

.h-730px {
    height: 730px;
}

.divAnimation {
    overflow: hidden;
    transition: transform 1s ease-in-out !important;
    transform-origin: center;
    width: 100%;
    height: 100%;
}

.divAnimation:hover {
    transform: scale(0.95) !important;
}

.backgroundImageAnimation {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 1s ease-in-out;
    box-shadow: 50px 50px 1500px rgba(0, 0, 0, 0.7) inset;
}

.divAnimation:hover .backgroundImageAnimation {
    transform: scale(1.1);
}

.bg-orange {
    background-color: #ef711d !important;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1.2s ease forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}


.fade-down {
    opacity: 0;
    transform: translateY(-30px);
    transition: all 0.6s ease;
}

.fade-down.show {
    opacity: 1;
    transform: translateY(0);
}

.fade-up {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}

.fade-up.show {
    opacity: 1;
    transform: translateY(0);
}

.bg-grey {
    background-color: #F2F0EB;
}

.socialMediaDiv {
    transition: all 0.2s ease-in-out;
    transform-origin: center;
    width: 100%;
    height: 40px;
    border: 1px solid black;
}

.socialMediaDiv:hover {
    margin-bottom: 2px !important;
    background: white;
}

.orangeGradient-bg {
    background: linear-gradient(45deg, #5f3702, #824c00, #f7a444);
}

.darkOrangeBG {
    background-color: #4b2b01;
}

.darkGreenBG {
    background-color: #408741;
}

.custom-indicators {
    position: absolute;
    margin-bottom: -50px !important;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.custom-indicators button {
    background: none;
    border: none;
    text-indent: 0 !important;
    opacity: 1;
    width: 200px !important;
    text-align: left;
    padding: 0;
}


.reviews {
    max-width: 900px;
    margin: auto;
    background: linear-gradient(135deg, #2e1a00, #7a4a00, #e89c3d);

}

.carousel-item video {
    height: 500px;
    width: 100%;
    object-fit: contain;
}

.orangeGradient-bg {
    min-height: 100vh;
}

.indicator-line {
    height: 7px;
    /* width: 100px; */
    background-color: #ffffff !important;
    border-radius: 5px;
    margin-bottom: 12px;
    opacity: 1 !important;
    transition: background-color 0.3s ease;
}

.indicator-text {
    color: white !important;
    font-size: 13px;
}

.custom-indicators .active .indicator-line {
    background-color: #f7a444 !important;
}

.carousel-indicators button {
    opacity: 1 !important;
}

.opportunityCard {
    background: transparent;
    transition: background-color 0.5s ease;
}

.opportunityCard:hover {
    background-color: white;
}

.text-white-black {
    color: white !important;
}

.opportunityCard:hover .text-white-black {
    color: black !important;
}

.h-300px {
    height: 300px;
}

.h-500px {
    height: 500px;
}

.h-60px {
    height: 60px;
}

.h-2px {
    height: 2px;
}

.h-45px {
    height: 45px;
}

.h-550px {
    height: 550px;
}

.h-50px {
    height: 50px;
}

.w-500px {
    width: 500px;
}

.fs-13px {
    font-size: 13px;
}

.dropdownArrow {
    transition: transform 0.3s ease;
}

#collapseLinkDiv[aria-expanded="true"] .collapsiveArrow {
    transform: rotate(180deg);
    color: #ef711d !important;
}

#collapseLinkDiv[aria-expanded="true"] .linkOnHover {
    color: #ef711d !important;
}

.blackBorderHover {
    border: 1px solid black;
}

.blackBorderHover:hover {
    border: 1.4px solid #ef711d !important;
}

.blackBorderHover:focus-within {
    border: 2px solid #ef711d !important;
}

.video-wrapper {
    /* width: 100%; */
    /* height: 500px; */
    overflow: hidden;
}

.video-wrapper video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* fills parent properly */
}

.video-controls {
    z-index: 10;
}

.audio-player {
    display: flex;
    align-items: center;
    gap: 10px;
    /* width: 400px; */
}

input:focus {
    outline: none;
    border: none;
}

.inputOrangeBorder:focus {
    outline: #ef711d;
    border: 1px solid #ef711d;
}

#progressBar {
    height: 2px;
    accent-color: #ef711d;
}

.wave {
    display: flex;
    align-items: center;
    gap: 6px;
    height: 50px;
}

.wave span {
    width: 6px;
    height: 20px;
    background: white;
    border-radius: 4px;

    animation: bounce 1s infinite ease-in-out;
    animation-play-state: paused;
}

/* Start animation when active */
.wave.active span {
    animation-play-state: running;
}

/* Keep your staggered delays */
.wave span:nth-child(1) {
    animation-delay: 0s;
}

.wave span:nth-child(2) {
    animation-delay: 0.2s;
}

.wave span:nth-child(3) {
    animation-delay: 0.4s;
}

.wave span:nth-child(4) {
    animation-delay: 0.6s;
}

.wave span:nth-child(5) {
    animation-delay: 0.8s;
}

@keyframes bounce {

    0%,
    100% {
        height: 10px;
    }

    50% {
        height: 45px;
    }
}


@keyframes bounce {

    0%,
    100% {
        height: 10px;
    }

    50% {
        height: 45px;
    }
}


.text-black-white {
    color: black;
}

.text-black-white :hover {
    color: white !important;
}

.w-100px {
    width: 100px !important;
}

.w-200px {
    width: 200px !important;
}

.w-80 {
    width: 80% !important;
}

.h-300px {
    height: 300px;
}

.h-400px {
    height: 400px;
}

.h-350px {
    height: 350px;
}

.boxShadow {
    box-shadow: 2px 2px 100px rgba(0, 0, 0, 0.144);
}

.h-150px {
    height: 150px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .inquiryDiv {
        height: 400px;

    }

    .fs-13px {
        font-size: 12px;
    }
}
.inquiryDiv {
    height: 300px; /* or whatever height you want */
}

.img-fit {
    object-fit: cover;   /* fills div without distortion */
}

@media only screen and (min-width: 600px) {
    .inquiryDiv {
        height: 300px;
    }
}

@media only screen and (min-width: 768px) {
    .inquiryDiv {
        height: 300px;
    }

    .px-5 {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}

@media only screen and (min-width: 992px) {
    .inquiryDiv {
        height: 300px;
    }

}

@media only screen and (min-width: 1200px) {
    .inquiryDiv {
        height: 300px;
    }
}